services:

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - monitor

  apache:
    build: ./apache
    container_name: apache
    ports:
      - "8081:80"
    networks:
      - monitor

  postgresql:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - monitor

  
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongo/data:/data/db
    networks:
      - monitor

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - monitor

  

  php:
    build: ./php
    container_name: php
    ports:
      - "8082:80"
    networks:
      - monitor


  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - monitor

  zookeeper:
    image: zookeeper:3.9.4
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - monitor

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - monitor

  memcached:
    image: memcached:latest
    container_name: memcached
    ports:
      - "11211:11211"
    networks:
      - monitor
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitor

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    networks:
      - monitor

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
    networks:
      - monitor

  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - "9042:9042"
    networks:
      - monitor
    environment:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 100M


  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"
      - "8161:8161"
    networks:
      - monitor

  golang:
    image: golang:latest
    container_name: golang
    command: ["sleep", "infinity"]
    networks:
      - monitor

  alpine-test:
    image: alpine:latest
    container_name: alpine-test
    command: sleep infinity
    restart: always

  httpd-small:
    image: httpd:alpine
    container_name: httpd-small
    ports:
      - "8085:80"
    restart: always


networks:
  monitor:
    driver: bridge
