services:

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - monitor

  apache:
    build: ./apache
    container_name: apache
    ports:
      - "8081:80"
    networks:
      - monitor

  postgresql:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - monitor

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
    ports:
      - "3307:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
    networks:
      - monitor

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongo/data:/data/db
    networks:
      - monitor

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - monitor

  nodejs:
    build: ./nodejs
    container_name: nodejs
    ports:
      - "4000:4000"
    networks:
      - monitor

  python:
    build: ./python
    container_name: python
    ports:
      - "5000:5000"
    networks:
      - monitor

  php:
    build: ./php
    container_name: php
    ports:
      - "8082:80"
    networks:
      - monitor

  java:
    build: ./java
    container_name: java
    networks:
      - monitor

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - monitor

  zookeeper:
    image: zookeeper:3.9.4
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - monitor

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - monitor

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitor

networks:
  monitor:
    driver: bridge
